.section{
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 80px;
    @media(max-width:769px){
        margin-bottom: 56px;
    }
}

.title{
    text-align: center;
    margin-bottom: 41px;
}

.questList{
    margin-bottom: 49px;
}
