
.carousel {
  margin-bottom: 85px;
  position: relative;
  cursor: pointer;
  max-width: 80%;
  margin: 0 auto;

  @media (max-width: 1190px){
    max-width: 90%;
  }

  @media (max-width: 769px){
    max-width: 100%;
  }

  .react-multi-carousel-item {
    display: flex;
    justify-content: center;
    padding: 50px 10px; 
  }

  .react-multi-carousel-track {
    display: flex;
    align-items: center;
  }
}

.carouselItem {
  padding: 0 24px 24px;
  margin-bottom: 50px;
  @media (max-width: 375px){
  margin-bottom: 40px;
  }
}

.carouselArrow {
  position: absolute;
  top: 42%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  @media (max-width: 769px){
    display: none;
  }

}

.carouselArrow.left {
  left: -8px;
}

.carouselArrow.right {
  right: -8px;
}

