
.wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}


.carousel {
  margin-bottom: 85px;
  cursor: pointer;
  max-width: 80%;
  margin: 0 auto;
  @media (max-width: 1290px){
    max-width: 90%;
  }

  @media (max-width: 769px){
    max-width: 100%;
  }
  .react-multi-carousel-item {
    display: flex;
    justify-content: center;
    padding: 50px 10px; 
  }

  .react-multi-carousel-track {
    display: flex;
    align-items: center;
  }

}

.carouselItem {
  padding: 0 24px 24px;
  margin-bottom: 50px;

  @media (max-width: 375px){
  margin-bottom: 40px;
  }
}


.arrowButton{
  position: absolute;
  top: 35%;
  background-color: inherit;
  color: #C2C8CD;
  border: none;
  cursor: pointer;
  @media (max-width: 769px){
   display: none;
  }
}

.arrowRight{
  right: -14px;
}
.arrowLeft{
  left: -14px;
}

.arrowButton:active{
  color: #2A6CEA;
}