.wrapper {
    padding: 0 24px;
    cursor: pointer;
    display: block;
    background-color: inherit;
    width: 100%;
    border: none;
 
  }
  
.title{
  margin-top: 24px;
}
  
  .header {
    border-top: 1px solid #F6F8FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #191C1F;
    &:hover{
      color: #2A6CEA;
    }
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 2px solid #191C1F;
    border-radius: 50%;
    transition: transform 0.3s ease;
    margin-top: 24px;
  }
  
  .icon.open {
    transform: rotate(90deg);
  }
  
  .svgIcon {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .svgIcon line {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .content {
    margin-top: 24px;
    font-size: 18px;
    line-height: 32px;
    color: #5E646A;
    text-align: left;
  }
  